.container-fluid {
  padding: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0ad4e;
  color: rgb(55, 55, 55);
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

.intro-card {
  width: 18rem;
  margin: 40px;
}
